<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>loginad</display-name>
    <servlet-name>loginad</servlet-name>
    <servlet-class>loginad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginad</servlet-name>
    <url-pattern>/loginad</url-pattern>
  </servlet-mapping>
  <display-name>Assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.login.doa.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginmanager</display-name>
    <servlet-name>loginmanager</servlet-name>
    <servlet-class>loginmanager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginmanager</servlet-name>
    <url-pattern>/loginmanager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logman</display-name>
    <servlet-name>Logman</servlet-name>
    <servlet-class>com.login.doa.Logman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logman</servlet-name>
    <url-pattern>/Logman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginemployee</display-name>
    <servlet-name>loginemployee</servlet-name>
    <servlet-class>loginemployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginemployee</servlet-name>
    <url-pattern>/loginemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logemp</display-name>
    <servlet-name>Logemp</servlet-name>
    <servlet-class>Logemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logemp</servlet-name>
    <url-pattern>/Logemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginemp</display-name>
    <servlet-name>loginemp</servlet-name>
    <servlet-class>loginemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginemp</servlet-name>
    <url-pattern>/loginemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogEmployee</display-name>
    <servlet-name>LogEmployee</servlet-name>
    <servlet-class>com.login.doa.LogEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogEmployee</servlet-name>
    <url-pattern>/LogEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assignrole</display-name>
    <servlet-name>Assignrole</servlet-name>
    <servlet-class>Assignrole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assignrole</servlet-name>
    <url-pattern>/Assignrole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>status</display-name>
    <servlet-name>status</servlet-name>
    <servlet-class>status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>status</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>join</display-name>
    <servlet-name>join</servlet-name>
    <servlet-class>join</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>join</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logman1</display-name>
    <servlet-name>Logman1</servlet-name>
    <servlet-class>com.login.doa.Logman1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logman1</servlet-name>
    <url-pattern>/Logman1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>role</display-name>
    <servlet-name>role</servlet-name>
    <servlet-class>role</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>role</servlet-name>
    <url-pattern>/role</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log</display-name>
    <servlet-name>Log</servlet-name>
    <servlet-class>com.login.doa.Log</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/Log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>joinee</display-name>
    <servlet-name>joinee</servlet-name>
    <servlet-class>joinee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joinee</servlet-name>
    <url-pattern>/joinee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task</display-name>
    <servlet-name>Task</servlet-name>
    <servlet-class>Task</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task</servlet-name>
    <url-pattern>/Task</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTask</display-name>
    <servlet-name>ViewTask</servlet-name>
    <servlet-class>ViewTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTask</servlet-name>
    <url-pattern>/ViewTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogEmployee2</display-name>
    <servlet-name>LogEmployee2</servlet-name>
    <servlet-class>com.login.doa.LogEmployee2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogEmployee2</servlet-name>
    <url-pattern>/LogEmployee2</url-pattern>
  </servlet-mapping>
</web-app>